backend/debug/
backend/target/
backend/out/
bin/*
dist/*
build/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/

.vscode/settings.json

# Ignore output folder

backend/out

.pnpm-store/
cli/
deck.json
out/
