# This is a udev file for local development on a Linux machine.
# Without this your user may get permissioned denied errors when trying to read from hidapi.
# This is not needed for the Steam Deck because the deck user appears to have access r/w access to all controllers we've tested.
# Thus this file is not included in the plugin package.

# Add a copy of this line for each vendor/product ID you want to test locally
KERNEL=="hidraw*", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0ce6", TAG+="uaccess"

# Drop it into
# /etc/udev/rules.d/
